<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cards of Programmers</title>
</head>
<body>
    <section class="wrapper">
        <div class="container">
        <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-dark card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
               <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
               <div class="card-body">
                  <h4 class="card-title mt-0 "><a class="text-dark" herf="https://creativemanner.com">" <%= quote %> "</a></h4>
                </div>
                <div class="card-footer">
                 <div class="media">
        <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80" alt="Generic placeholder image" style="max-width:50px">
        <div class="media-body">
          <h6 class="my-0 text-dark d-block"><%= author %></h6>
        </div>
      </div>
                </div>
              </div>
            </div></div>
        
           <%# the button over here %>

            <div class="container-fluid main">
                <div class="text-center main-text">
                  <div class="c2a-btn footer-c2a-btn">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Call to action">
                      <a id="Back" type="button" class="btn btn-default btn-lg" href="/Back">go back</a>
                      <span class="btn-circle btn-or">or</span>
                      <a id="Next" type="button" class="btn btn-default btn-lg" href="/Next">next one </a>
                    </div>
                  </div>
                </div>
              </div>
              



      </div>
        
      </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>