<div class="container mt-5 pt-5">
    <div class="row">


      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <h4 class="card-title text-center">
            <a href=""><img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/settings-512.png" alt="didnt load well" class = "setting-img material-icons"style="height: 20px;width: 20px;"></a>
          </h4>
          <h5 class="card-title  mt-3 mb-3">Example</h5>
          <p class="card-text">the is a pre-made task for you to see</p> 
    </div>
      </div>
  </div>

  </div>