html{
    background-color: black;
}

#meme,img{
    border: 5px solid white;
    width: 100%;
    
}

#meme,h1{
    text-transform: capitalize;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

#meme{
    border: 0;
    text-align: center;
    
    margin-left: 25%;
    align-content: center;
    margin-top: 100px;
}