</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const year = new Date(); %>
  <% const thisYear = year.getFullYear(); %>
  <p>Copyright © <%= thisYear %></p>
</footer>
</body>

</html>